{% extends "layout.html" %}

{% block body %}


    <h1>Add/Edit Posts</h1>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form id="add" action="/addPosts/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              
              <input type="text" class="form-control"  placeholder="Title" id="title" name="title" required data-validation-required-message="Please enter Title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              
              <input type="text" class="form-control"  placeholder="Tagline" id="tagline" name="tagline" required data-validation-required-message="Please enter tagline">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Slug</label>
              
              <input type="text" class="form-control"  placeholder="Slug" id="slug" name="slug" required data-validation-required-message="Please enter slug">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Content</label>
              
              <textarea type="text" class="form-control"   placeholder="Content"  rows="10" id="content" name="content" required data-validation-required-message="Please enter content."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image-File</label>
              
              <input type="text" class="form-control"  placeholder="img-file" id="img-file" name="img-file" required data-validation-required-message="Please enter img-file">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-outline-dark" id="sendMessageButton">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}