{% extends "layout.html" %}
{% block body %}

{% set fname = 'product-imgs/Electronics/' %}
<div class="container">
	<br>
  <div class="row">
    <div class="col">
      <img src="{{ url_for('static',filename=fname+electronics.img) }}" class="card-img-top" name="img" style="height: auto;"alt="...">
    </div>
    <div class="col">
      <h2>{{electronics.name}}</h2>
      <h3>Ratings: {{electronics.ratings}}</h3>
      <h3>Price: ₹{{electronics.price}}</h3>	
      <h4>{{electronics.ships}}</h4>
      <a href="/Buy" class="btn btn-outline-success btn-lg my-2">Buy Now</a>
    </div>
  </div>
</div>
{% endblock %}
